In [1]:
import pandas as pd

data = {
    "Price": ["$100", "$250", "$300", "$150"],
    "Date": ["2025-01-01", "2025-01-05", "2025-01-10", "2025-01-15"]
}

df = pd.DataFrame(data)

print(df)
print(df.dtypes)

  Price        Date
0  $100  2025-01-01
1  $250  2025-01-05
2  $300  2025-01-10
3  $150  2025-01-15
Price    object
Date     object
dtype: object

In [2]:
df["Price"] = df["Price"].str.replace("$", "", regex=False).astype(float)

In [3]:
df["Price"]

0    100.0
1    250.0
2    300.0
3    150.0
Name: Price, dtype: float64

In [4]:
df["Date"] = pd.to_datetime(df["Date"])

In [5]:
df["Date"]

0   2025-01-01
1   2025-01-05
2   2025-01-10
3   2025-01-15
Name: Date, dtype: datetime64[ns]

In [6]:
print(df.dtypes)

Price           float64
Date     datetime64[ns]
dtype: object

In [7]:
print(df["Price"].mean())

200.0

In [8]:
df["Year"] = df["Date"].dt.year
print(df)

   Price       Date  Year
0  100.0 2025-01-01  2025
1  250.0 2025-01-05  2025
2  300.0 2025-01-10  2025
3  150.0 2025-01-15  2025

In [9]:
df = df.sort_values("Date")

In [10]:
df

   Price       Date  Year
0  100.0 2025-01-01  2025
1  250.0 2025-01-05  2025
2  300.0 2025-01-10  2025
3  150.0 2025-01-15  2025

In [11]:
import pandas as pd

data = {
    "Location": [" New York", "new york", "NEW YORK ", "Chicago", " chicago "]
}

df = pd.DataFrame(data)

print(df["Location"].unique())

[' New York' 'new york' 'NEW YORK ' 'Chicago' ' chicago ']

In [12]:
df["Location"] = df["Location"].str.strip()

In [13]:
df["Location"]

0    New York
1    new york
2    NEW YORK
3     Chicago
4     chicago
Name: Location, dtype: object

In [14]:
df["Location"] = df["Location"].str.title()

In [15]:
df["Location"]

0    New York
1    New York
2    New York
3     Chicago
4     Chicago
Name: Location, dtype: object

In [16]:
print(df["Location"].unique())

['New York' 'Chicago']

In [17]:
df.groupby("Location").size()

Location
Chicago     2
New York    3
dtype: int64